{% extends 'base.html.twig' %}
{% block body %}

    <div class="container-fluid position-relative d-flex p-0">

        {% set dir = {'dir': 'job'} %}

        {% include 'sidebar.html.twig' with dir %}

        <!-- Content Start -->
        <div class="content">

            {% include 'navbar.html.twig' %}

            {{ form_start(form, {'action': 'job/add', 'method': 'POST'}) }}
                <form>
                <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12">

                        <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Записи</h6>

                            <select class="form-select mb-3" name="job[appointment]" aria-label="Select example">
                                <option value="default" selected>Выберите запись</option>

                                {% for label, value in appointments %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}

                            </select>

                        </div>

                    </div>
                </div>
            </div>

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <div class="col-sm-12 col-xl-6">

                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Работы</h6>
                            <div class="col-md-12">
                                <div id="job-container">
                                    <div class="job-row">

                                        <select class="form-select mb-3" name="job[service][0][id]" aria-label="Работа">
                                            <option value="default" selected>Работа</option>

                                            {% for label, value in services %}
                                                <option value="{{ value }}">{{ label }}</option>
                                            {% endfor %}


                                        </select>

                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" name="job[service][0][timeTakenInMinutes]" placeholder="Время работы в минутах" aria-label="time-in-minutes" aria-describedby="basic-addon2">
                                            <span class="input-group-text" id="basic-addon2">минут</span>
                                        </div>

                                        <select class="form-select mb-3" name="job[service][0][malfunction]" aria-label="Select example">
                                            <option value="default" selected>Неисправность</option>

                                            {% for label, value in malfunction %}
                                                <option value="{{ value }}">{{ label }}</option>
                                            {% endfor %}


                                        </select>

                                        <button type="button" class="btn add-button-job">Добавить поле</button>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Сохранить работы</button>

                        </div>


                    </div>

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Запчасти</h6>
                            <div class="col-md-12">
                                <div id="part-container">
                                    <div class="part-row">
                                        <select class="form-select mb-3" name="job[part][0]" aria-label="Select example">
                                            <option value="default" selected>Запчасти</option>

                                            {% for label, value in parts %}
                                                <option value="{{ value }}">{{ label }}</option>
                                            {% endfor %}

                                        </select>

                                        <button type="button" class="btn add-button-part">Добавить поле</button>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>



                    {{ form_row(form._token) }}



                    {#Table#}

                <div class="col-12">

                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Responsive Table</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Телефон</th>
                                    <th scope="col">Машины</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
{#                                {% for client in clients %}#}
{#                                <tr>#}
{#                                    <th scope="row">{{ client.id }}</th>#}
{#                                    <td>{{ client.name }}</td>#}
{#                                    <td>{{ client.phone }}</td>#}
{#                                    <td>{{ client.getClientCarsLabels }}</td>#}

{#                                    <td>#}
{#                                        <a  href="/appointment/{{ client.id }}/edit">#}
{#                                            <button type="button" class="btn btn-sm btn-link">Изменить</button>#}
{#                                        </a>#}

{#                                        <a  href="/appointment/{{ client.id }}/delete">#}
{#                                            <button type="button" class="btn btn-sm btn-link">Удалить</button>#}
{#                                        </a>#}
{#                                    </td>#}

{#                                </tr>#}
{#                                {% endfor %}#}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
{#                {{ form_end(form) }}#}
                </form>
            </div>


        </div>

    </div>


    <style>
        /*.job-row {*/
        /*    display: flex;*/
        /*    align-items: center;*/
        /*}*/



        .add-button-job:last-of-type {
            display: flex;
        }

        .add-button-part:last-of-type {
            display: flex;
        }
    </style>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var addJobButton = document.querySelector('.add-button-job');
            var container = document.querySelector('#job-container');
            var rowCount = 1;

            container.addEventListener('change', function() {
                var rows = container.querySelectorAll('.job-row');

                // addJobButton.style.display = rows.length > 1 ? 'block' : 'none';
            });

            addJobButton.addEventListener('click', function() {
                var hr = document.createElement("hr");
                var row = container.querySelector('.job-row:last-child').cloneNode(true);
                var inputs = row.querySelectorAll('input, select');

                inputs.forEach(function(input) {
                    input.name = input.name.replace(/\[(\d+)\]/, '[' + rowCount + ']');
                    input.value = '';
                });

                container.appendChild(hr)
                container.appendChild(row);
                rowCount++;

                addJobButton.style.display = 'none';
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var addButtonPart = document.querySelector('.add-button-part');
            var containerPart = document.querySelector('#part-container');
            var rowPartCount = 1;

            containerPart.addEventListener('change', function() {
                var rows = containerPart.querySelectorAll('.part-row');

                // addButtonPart.style.display = rows.length > 1 ? 'block' : 'none';
            });

            addButtonPart.addEventListener('click', function() {

                console.log(containerPart);
                var hr = document.createElement("hr");
                var rowPart = document.querySelector('.part-row:last-child').cloneNode(true);
                var inputs = rowPart.querySelectorAll('input, select');

                inputs.forEach(function(input) {
                    input.name = input.name.replace('[0]', '[' + rowPartCount + ']');
                    input.value = '';
                });

                containerPart.appendChild(hr);
                containerPart.appendChild(rowPart);
                rowPartCount++;
                addButtonPart.style.display = 'none';

            });
        });

    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}
