{% extends 'base.html.twig' %}
{% block body %}

    <div class="container-fluid position-relative d-flex p-0">

        {% set dir = {'dir': 'client'} %}

        {% include 'sidebar.html.twig' with dir %}

        <!-- Content Start -->
        <div class="content">

            {% include 'navbar.html.twig' %}

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        {{ form_start(form, {'action': 'client/add', 'method': 'POST'}) }}

                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">{{ form1_label }}</h6>
                            <form>

                                <div class="mb-3">
                                    <label for="client-name" class="form-label">Имя</label>
                                    <input type="text" class="form-control" id="client-name" name="client[name]" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">Имя клиента.
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="client-phone" class="form-label">Телефон</label>
                                    <input type="text" class="form-control" id="client-phone" name="client[phone]" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">Телефон клиента.
                                    </div>
                                </div>



                                {{ form_row(form._token) }}

                                <button type="submit" class="btn btn-primary">Добавить</button>

                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
{#                        {{ form_end(form) }}#}
                        {{ form_start(form1, {'action': 'client/add/car', 'method': 'POST'}) }}
                        <div class="bg-secondary rounded h-100 p-4">

                            <h6 class="mb-4">{{ form2_label }}</h6>
                            <form>

                                <div class="mb-3">
                                    <label for="client_car_vin" class="form-label">ВИН</label>
                                    <input type="text" class="form-control" id="client_car_vin" name="client_car[vin]" aria-describedby="emailHelp" style="text-transform: uppercase;">
                                    <div id="vinHelp" class="form-text">ВИН автомобиля
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="client_car_plate" class="form-label">Гос. номер</label>
                                    <input type="text" class="form-control" id="client_car_plate" name="client_car[plate]" aria-describedby="emailHelp">
                                    <div id="plateHelp" class="form-text">Номер автомобиля
                                    </div>
                                </div>

                                <select class="form-select mb-3" name="client_car[client]" aria-label="Select example">
                                    <option value="default" selected>Клиент</option>

                                    {% for label, value in client_list %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}


                                </select>
                                <select class="form-select mb-3" name="client_car[car]" aria-label="Select example">
                                    <option value="default" selected>Автомобиль</option>

                                    {% for label, value in cars %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}


                                </select>

                                {{ form_row(form1._token) }}

                                <button type="submit" class="btn btn-primary">Добавить</button>

                            </form>
                        </div>
{#                        {{ form_end(form1) }}#}

                    </div>

                    {#Table#}

                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Клиенты</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Имя</th>
                                        <th scope="col">Телефон</th>
                                        <th scope="col">Машины</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for client in clients %}
                                    <tr>
                                        <th scope="row">{{ client.id }}</th>
                                        <td>{{ client.name }}</td>
                                        <td>{{ client.phone }}</td>
                                        <td>{{ client.getClientCarsLabels }}</td>

                                        <td>
                                            <a  href="/client/{{ client.id }}/delete">
                                                <button type="button" class="btn btn-sm btn-link">Удалить</button>
                                            </a>
                                        </td>

                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


{% endblock %}
