{% extends 'base.html.twig' %}
{% block body %}

    <div class="container-fluid position-relative d-flex p-0">

        {% set dir = {'dir': 'appointment'} %}

        {% include 'sidebar.html.twig' with dir %}

        <!-- Content Start -->
        <div class="content">

            {% include 'navbar.html.twig' %}

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        {{ form_start(form, {'action': 'appointment/add', 'method': 'POST'}) }}

                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">{{ form_label }}</h6>
                            <form>
                                <div class="mb-3">



                                    <select id="client_select" class="form-select mb-3" name="{{ field_name(form.client) }}" aria-label="Select example"
                                            data-client-id="{{ form.vars.value ? form.vars.value.id : '' }}">
                                        <option value="default" selected>{{ field_label(form.client) }}</option>

                                        {% for label, value in field_choices(form.client) %}
                                            <option value="{{ value }}">{{ label }}</option>
                                        {% endfor %}


                                    </select>

                                    <select id="client_car_select" class="form-select mb-3" name="{{ field_name(form.clientCar) }}" aria-label="Select example">
                                        <option value="default" selected>{{ field_label(form.clientCar) }}</option>
                                        {% for label, value in field_choices(form.clientCar) %}
                                            <option value="{{ value }}">{{ label }}</option>
                                        {% endfor %}
                                    </select>


                                    <div class="form-floating">
                                        <textarea class="form-control" id="appointment_complaints" name="appointment[complaints]" placeholder="Leave a comment here"
                                                  id="floatingTextarea" style="height: 150px;"></textarea>
                                        <label for="floatingTextarea">{{ form_label(form.complaints) }}</label>
                                    </div>

                                </div>
                                <div class="mb-3">
                                    {{ form_row(form.date) }}

                                </div>

                                <select class="form-select mb-3" name="{{ field_name(form.manager) }}" aria-label="Select example">
                                    <option value="default" selected>{{ field_label(form.manager) }}</option>
                                    {% for label, value in field_choices(form.manager) %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}

                                </select>
                                {{ form_row(form._token) }}

                                <button type="submit" class="btn btn-primary">Добавить</button>

                            </form>
                        </div>
{#                                {{ form_end() }}#}

                    </div>

                    {#Table#}

                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Записи на обслуживание</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Менеджер</th>
                                        <th scope="col">Клиент</th>
                                        <th scope="col">Телефон клиента</th>
                                        <th scope="col">Описание обращения</th>
                                        <th scope="col">Дата обращения</th>
                                        <th scope="col">Статус</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for appointment in appointments %}
                                    <tr>
                                        <th scope="row">{{ appointment.id }}</th>
                                        <td>{{ appointment.managerName }}</td>
                                        <td>{{ appointment.clientName }}</td>
                                        <td>{{ appointment.clientPhone }}</td>
                                        <td>{{ appointment.complaints }}</td>
                                        <td>{{ appointment.date|date("H:i m/d/Y") }}</td>
                                        <td>{{ status_labels[appointment.status] }}</td>
                                        <td>
                                            <a  href="/appointment/{{ appointment.id }}/delete">
                                                <button type="button" class="btn btn-sm btn-link">Удалить</button>
                                            </a>
                                        </td>

                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <script>
        $(document).ready(function() {

            $('#client_select').change(function() {
                var selectedOption = $(this).find('option:selected');
                var clientId = selectedOption.val();

                $(this).attr('data-client-id', clientId);
            });


            $('#client_select').change(function() { // Replace "your_form_client" with the actual field ID
                var clientId = $(this).val();

                $.ajax({
                    url: `/car/get?client_id=${clientId}`,
                    type: 'GET',
                    success: function(response) {
                        var carChoices = response.car_choices;

                        console.log(carChoices)

                        // Clear existing options
                        $('#client_car_select').empty();

                        // Populate the ClientCar field with retrieved choices
                        $.each(carChoices, function(index, choice) {
                            console.log(choice)
                            $('#client_car_select').append($('<option>').text(choice.name).val(choice.id));
                        });
                    }
                });
            });


        });
    </script>

{% endblock %}
