{% extends 'base.html.twig' %}
{% set dir = {'dir': 'appointment'} %}

{% block body %}

    <div class="container-fluid position-relative d-flex p-0">

        {% include 'sidebar.html.twig' with dir %}

        <!-- Content Start -->
        <div class="content">
            {% include 'navbar.html.twig' %}

            <div class="container-fluid pt-4 px-4">

                {{ id }}

            </div>

        </div>
    </div>


{% endblock %}