eee

{#{{ form_start(form, {'action': 'appointment_add', 'method': 'POST'}) }}#}
{#{{ form_widget(form) }}#}

                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">{{ form_label }}</h6>
                            <form>
                                <div class="mb-3">

                                    <select class="form-select mb-3" name="{{ field_name(form.client) }}" aria-label="Default select example">
                                        <option value="default" selected>{{ field_label(form.client) }}</option>

                                        {% for label, value in field_choices(form.client) %}
                                            <option value="{{ value }}">{{ label }}</option>
                                        {% endfor %}


                                    </select>

                                    <div class="form-floating">
                                        <textarea class="form-control" id="appointment[complaints]" placeholder="Leave a comment here"
                                              id="floatingTextarea" style="height: 150px;"></textarea>
                                        <label for="floatingTextarea">{{ form_label(form.complaints) }}</label>
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Дата и время</label><br>
                                            {{ form_row(form.date) }}
                                    <input type="date" id="appointment[date]"
                                           name="appointment-date" value="2023-06-12"
                                    >
                                    <input type="time" id="appointment[time]"
                                           name="appointment-time" value="19:30"
                                    >

                                </div>

                                <select class="form-select mb-3" name="appointment-manager" aria-label="Default select example">
                                    <option value="default" selected>Менеджер</option>
                                    {% for label, value in field_choices(form.manager) %}
                                        <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}

                                </select>

                                <button type="submit" class="btn btn-primary">Sign in</button>

                            </form>
                        </div>
{#                                {{ form_end() }}#}

