<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html.twig' %}

    </head>
    <body>
        {% block body %}

            <div class="container-fluid position-relative d-flex p-0">

                {% set dir = {'dir': 'main'} %}

                {% include 'sidebar.html.twig' with dir %}

                <!-- Content Start -->
                <div class="content">

                    {% include 'navbar.html.twig' %}


                </div>

            </div>



        {% endblock %}

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/lib/chart/chart.min.js"></script>
        <script src="/lib/easing/easing.min.js"></script>
        <script src="/lib/waypoints/waypoints.min.js"></script>
        <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/lib/tempusdominus/js/moment.min.js"></script>
        <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="/js/main.js"></script>
    </body>
</html>
