<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="/" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa-solid fa-car-building me-2"></i>Автосервис</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/" class="nav-item nav-link {% if dir == 'main' %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Главная
            </a>
            <a href="/appointment" class="nav-item nav-link {% if dir == 'appointment' %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Записи
            </a>
            <a href="/client" class="nav-item nav-link {% if dir == 'client' %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Клиенты
            </a>
            <a href="/job" class="nav-item nav-link {% if dir == 'job' %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Работы
            </a>
            <a href="/report" class="nav-item nav-link {% if dir == 'report' %}active{% endif %}">
                <i class="fa fa-tachometer-alt me-2"></i>Отчёты
            </a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->