{% extends 'base.html.twig' %}
{% block body %}

    <div class="container-fluid position-relative d-flex p-0">

        {% set dir = {'dir': 'report'} %}

        {% include 'sidebar.html.twig' with dir %}

        <!-- Content Start -->
        <div class="content">

            {% include 'navbar.html.twig' %}

            <div class="container-fluid pt-4 px-4">

            </div>


        </div>

    </div>

{% endblock %}
